@media (min-width: 576px) {
  ::ng-deep .card-deck .card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-right: .75rem;
    margin-bottom: 0;
    margin-left: .75rem;
  }
}

@media (min-width: 576px)
{
  .card-deck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -.75rem;
    margin-left: -.75rem;
  }
}