<div>
    <h2>{{hero.name | uppercase}} Details</h2>
    <div>
      <div>
        <label>name:
          <input [(ngModel)]="hero.name" placeholder="name"/>
        </label>
        
      </div>
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="delete()">Delete Hero</button>
  </div>
  