<div class="card" [style.background]="bgColor">
  <h5 class="card-title" [style]="titleStyle">
    {{title}}
  </h5>
  <div class="card-body">
      <div class="card-content">
        <ng-container *ngTemplateOutlet="cardBody"></ng-container>
      </div>
  </div>
  <div class="card-footer" *ngIf="cardFooter">
    <ng-container *ngTemplateOutlet="cardFooter"></ng-container>
  </div>
</div>