.card, .card-group {
  -webkit-box-shadow: 0 0 13px 0 rgba(74,53,107,.08);
  box-shadow: 0 0 13px 0 rgba(74,53,107,.08);
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.08);
  border-radius: 4px;
  min-width: 230px;
}

.card-title {
  font-size: .9375rem;
  padding: 1rem;
  margin: 0;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0 1rem 1rem;
}

.card-footer {
  padding: 1rem 1rem;
  background-color: inherit;
  border-top: 1px solid rgba(0,0,0,.08);
  font-size: 80%;
  font-weight: 400;
}

.card-footer:last-child {
  border-radius: 0 0 3px 3px;
}

.card-group>:last-child, .card>:last-child {
  margin-bottom: 0;
}