<div *ngIf="hero">
    <h2>{{hero.name}}'nın Özellikleri</h2>
    <div><label class="label-a">Sıra:</label> {{hero.id}}</div><br>
    <div><label class="label-a">Güç:</label> {{hero.power}}</div><br>
    <div>
      <label class="label">İsim:
        <input [(ngModel)]="hero.name" placeholder="name"/>
        <button (click)="update()" class="label-button">İsmi Güncelle</button>
      </label>
      <pre></pre>
      <label class="label">Güç:
        <input [(ngModel)]="hero.power" placeholder="power"/>
        <button (click)="update()" class="label-button">Gücü Güncelle</button>
      </label>
    </div>
    <nav>
      <button (click)="delete()">Karakteri Sil</button>&nbsp;
    </nav>
    <nav><a routerLink="/dashboard">Anasayfaya Dön</a></nav>
  </div>