<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Anasayfa</a>&nbsp;
  <a routerLink="/heroes">Detay</a>&nbsp;
  <a routerLink="/create">Yeni Kahraman Oluştur</a>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
<app-messages></app-messages>