label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
  }
  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  button:hover {
    background-color: #d7919f;
  }
  button:disabled {
    background-color: #7da8b7;
    color: black;
    cursor: auto;
  }
  .create-button{
    height: 50px;
    margin-top: 30px;
    font-family: Arial;
    background-color:  #944463;
    color:white;
    border: none;
    padding: 10px,15px;
    border-radius: 4px;
    cursor: pointer;
  }
  .back-button{
    height: 50px;
    margin-top: 30px;
    font-family: Arial;
    background-color: #468499;
    color: white;
    border: none;
    padding: 10px,15px;
    border-radius: 10px;
    cursor: pointer;
  }
  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    background-color:#468499;
    border-radius: 4px;
    cursor: pointer;
  }
  nav a:visited, a:link {
    color: white;
  }
  nav a:hover {
    color: white;
    background-color:#7da8b7;
  }