<h5>Aşağıda oluşturulan kahramanlardan sadece 5 tanesini görebilirsiniz. Daha fazlasını görmek için yukarıdaki "Detay" butonuna tıklayınız.</h5>

<div class="grid-pad">
  <a *ngFor="let hero of heroes" class="col-1-4"
      routerLink="/detail/{{hero.id}}">
    <div class="module hero">
      <h4>{{hero.name}}</h4>
      <h6>Kahramanın Detayları İçin Tıklayınız.</h6>
    </div>
  </a>
</div>